td {
    width : 2em;
    height: 2em;
    background-color: gray;
    border: 1px solid white;
    margin:  1px;
}

.button {
    width : 5em;
    background-color: grey;
    border-left: 3px solid lightgray;
    border-top: 3px solid lightgray;
    border-right: 4px solid #555;
    border-bottom: 4px solid #555;
}


/*.unknown {*/
/*    background: gray;*/
/*    background-size: cover;*/
/*    width: 4.5vh;*/
/*    height: 4.5vh;*/
/*    border-radius: 8px*/
/*}*/


.flag {
    background: red;
    #background-image: url('../images/flag.png');
}


.testClicked {
    background-color: red;
}